<body class="body">

  <div class="header-wrapper">
      <div class="header-item">
          <div class="text">Location</div>
          <div id="locations-buttons-list"></div>
          <br>
          <div class="text">Search Terms</div>
          <div id="search-terms-buttons-list"></div>
          <div class="show-more" id="show-more"></div>
      </div>
      <div class="header-item">
          <div>
              <div class="text">Search by:</div>
              <br>
              {{!-- <input type="text" name="search" id="search-value"> --}}
              <div class="search-term-list" id="search-term-list"></div>
              <button class="submit-button">Submit</button>
          </div>
      </div>
  </div>

  <div class="main-content-wrapper">
    <div id="pagination-container" class="pagination-container"></div>
    <div id="events-display" class="events-display"></div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
  <script src="/app.js"></script>
  
</body>
