<body class="body">

  <div class="header-wrapper">
      <div class="header-item">
          <div class="text">Location</div>
          <div id="locations-buttons-list"></div>
          <br>
          <div class="text">Search Terms</div>
          <div id="search-terms-buttons-list"></div>
          <div class="show-more" id="show-more"></div>
      </div>
      <div class="header-item">
          <form>
              <div class="text">Add Place</div>
              <br>
              <input type="text" name="search" id="search-value">
              <input type ="submit" value="Submit" id="submit-button" class="button">
          </form>
      </div>
  </div>

  <div id="events-display" class="events-display"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/app.js"></script>
  
</body>
