html, body{

    height: 100%;
    bottom: 0;

}
.body{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.caingram.info/Scotland/Glasgow/glasgow_map_3.jpg"); */
    background-color: #E5EBED;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #4E5B60;
    font-family: "Roboto", Helvetica, sans-serif;
}

.text{
   margin-bottom: 5px;
   /* font-size: 1.5rem; */
}

.button {
    background-color: rgb(54, 97, 162);
    border: none;
    color: white;
    margin: 3px;
    padding: 5px;
    text-align: center;
    /* font-size: 14pt; */
}

input[type=text] {
    padding: 5px;
}

input[type=submit] {
    background-color: #3661A2;
    border: none;
    color: white;
    margin: 3px;
    padding: 5px;
    text-align: center;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 1px 2px #a3a3a3;
}

.header-item{
    margin: 1vw;
}

.events-display{
    display: flex;
    margin: 0 15% 0 15%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    /* max-width: 80%; */
}

.event-item{
    display: flex;
    margin: 0.5rem;
    border: 1px solid gainsboro;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
}

.img-container{
    /* padding: 5%; */
    /* max-width: 110px; */

}

.event-info-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
}

.event-name{
    font-size: 20pt;
}

.gif-image {
    max-width: 250px;
}

.show-more{
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.more{
    margin-left: 5px;
    font-size: 80%;
}


@media screen and (max-width: 640px) {
    .gif-image{
        max-width: 250px;
    }
}